*.js
!jest.config.js
*.d.ts
*.js.map
.cdk.staging
cdk.out

node_modules/
**/node_modules/

.env
.env.*
!.env.example

lambda/src/.aws-sam/
.aws-sam/

**/build/
**/dist/
**/.next/

.claude/

.private/
.vscode/

/*.md
!/README.md

cdk.context.json

__pycache__/
*.pyc

tmp/

.DS_Store
Thumbs.db

.idea/
*.swp
*.swo

*.drawio
*.dio
